* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    text-align: center;
}

/* Overrides for base HTML */

#nav {
    background-color: grey;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Utility classes */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row;
}

